<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<title>contact us</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');
</style> 

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
  body {
    background-color: rgb(255, 255, 242);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  </style>
  

<body>
<div class="container">
<div class="bg">
	<div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.6694342833953!2d73.12548141462922!3d18.990200987137158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7e866de88667f%3A0xc1c5d5badc610f5f!2sPillai%20College%20of%20Engineering%2C%20New%20Panvel!5e0!3m2!1sen!2sin!4v1618505744230!5m2!1sen!2sin" width="100%" height="650px" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	<div class="CONTACT-form">
		<h1 class="title">CONTACT US</h1>
		<h2 class="subtitle">Feel free to contact us on phone or email</h2><br><br>
		<h3>Address</h3>
		<h4><p>Dr. K. M. Vasudevan Pillai Campus,<br>
Plot No. 10, Sector 16, New Panvel East,<br>
Navi Mumbai, Maharashtra 410206</p></h4><br>
		<h3>Phone Number</h3>
		<h4>1234567890 / 2987654321</h4><br>
		<h3>Email</h3>
		<h4>SilverBeats@gmail.com</h4>
	</div>
</div>
</div>
</body>

<style>
	

body {
  
  font-family:"Roboto", sans-serif;
}

.container {
  background-color: rgb(46, 0, 46, 0.85);
  width: 900px;
  height: 650px;
  margin: 5% auto;
  position: relative;
  
}
.bg{
	background-image: url(https://images.pexels.com/photos/2337845/pexels-photo-2337845.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background: rgb(46, 0, 46, 0.9);
}
.CONTACT-form{
color: rgb(255, 255, 255);
}
h3{
text-align:center;
}
h4{
text-align:center;
font-size: small;
}
.container .map {
  width: 45%;
  float: left;
}
.container .contact-form {
  width: 53%;
  margin-left: 2%;
  float: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container .contact-form .title {
  font-size: 2.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin: 5% 8%;
  text-align:center;
}
.container .contact-form .subtitle {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 4% 5% 8%;
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align:center;
}


</style>
